<div class="row">
	<div class="container">
		<h2>Search Nouns and Verbs</h2>
		<%= form_tag do %>
		  <%= text_field_tag "search", nil, placeholder: "Search", autocomplete: :off %>
		  <br>
		<% end %>
	</div>
</div>

<div class="row">
		<%= render 'recipes/recipe'  %>
</div>