#account-button, #log-in-button{
  position: relative;
  height: 100%;
  float: left;
  cursor: pointer;
  padding: 0 5px;
  border-left: 1px solid rgba(0,0,0,0.25);
  margin-left: 0;
  padding-right: 12px;

  .nav-button{
	  border: 1px solid #666;
	  border-radius: 3px;
	  width: 38px;
	  height: 31px;
	  margin-top: 5px;
	  background: transparent;
	  overflow: hidden;
	  text-indent: -99999px;
	  float: left;
	  display: block;
	  position: relative;
	  cursor: pointer;
  }
}